html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  background: #000;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body,
.landing,
.landing-scroll{
  overflow-x:hidden;
}
body{
  overflow-x:hidden;
  overflow-y:hidden;
}
.landing-scroll{
  min-height:100vh;
  overflow-y:auto;
  overflow-x:hidden;
  scroll-behavior:smooth;
}
.landing{
  overflow-x:hidden;
 background:
linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.25)
),
url("https://plus.unsplash.com/premium_photo-1661877737564-3dfd7282efcb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29kaW5nfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
}
/* HERO */
.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  z-index: 2;
  pointer-events: none;
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0),
      rgba(0,0,0,.35),
      rgba(0,0,0,.65),
      rgba(0,0,0,.95)
    );
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background:
    linear-gradient(
      rgba(0,0,0,.45),
      rgba(0,0,0,.60)
    );
}
.landing-scroll::-webkit-scrollbar{
  width:10px;
}
.landing-scroll::-webkit-scrollbar-track{
  background:transparent;
}
.landing-scroll::-webkit-scrollbar-thumb{
  background:rgba(255,255,255,.25);
  border-radius:20px;
}
.landing-scroll::-webkit-scrollbar-thumb:hover{
  background:rgba(255,255,255,.45);
}
.navbar.scrolled {
  position: fixed;

  background: rgba(0,0,0,.85);

  backdrop-filter: blur(20px);

  box-shadow:
    0 10px 35px rgba(0,0,0,.45);
}

.navbar{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:95px;

  z-index:999999;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 60px;

  background:rgba(0,0,0,.55);

  backdrop-filter:blur(16px);

  border-bottom:1px solid rgba(255,255,255,.08);

  box-sizing:border-box;
}
.about,
.features,
.levels,
.stats-section,
.community-preview,
.cta,
.journey,
.testimonials {
  scroll-margin-top: 120px;
}

.logo-icon {

  width: 70px;

  height: 70px;

  display: flex;

  justify-content: center;

  align-items: center;

  color:#38bdf8;

  font-size:30px;
  font-weight:700;
}
.logo-text {

  font-size:30px;
  font-weight:700;
  margin-left: -12px;
  color:#38bdf8;

  letter-spacing: -1px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-size:30px;
  font-weight:700;
  color:#38bdf8;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}
.cta button{

    width:150px;

    padding:16px 0;

    border:none;

    border-radius:12px;

    background:#22c55e;

    color:white;

    font-size:20px;

    font-weight:600;

    cursor:pointer;

    margin-top:30px;

    transition:all .3s ease;
}
.cta button:hover{

    transform:translateY(-4px);

    background:#16a34a;

    box-shadow:0 12px 30px rgba(34,197,94,.35);
}
.login-btn,
.signup-btn,
.hero-buttons button,
.cta button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.signup-btn,
.hero-buttons button,
.cta button {
  background: #22c55e;
  color: white;
}

.secondary-btn {
  background: transparent !important;
  border: 2px solid white !important;
}

.hero-content {
  position: relative;
  z-index: 6;
  padding-top: 80px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 8%;
}
.about,
.features,
.levels,
.journey,
.community-preview,
.testimonials,
.cta {

  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 22px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

/* ABOUT */

.about{
  min-height:100vh;
  padding:120px 10%;
  text-align:center;
  background:transparent;
}

.about h2 {
  font-size: 5rem;
  margin-bottom: 40px;
  text-shadow:
    0 5px 25px rgba(0,0,0,.5);
}

.about p {
  max-width: 1100px;
  line-height: 1.8;
  font-size: 1.4rem;
  color: rgba(255,255,255,.9);
}

/* FEATURES */

.features {

  min-height: 100vh;

  padding: 120px 8%;

  text-align: center;
}
.feature-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.feature-card {

  background: rgba(10,10,10,.8);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 22px;

  padding: 30px;

  min-height: 170px;

  transition: .3s;

  text-align: left;
}
.features h2 {

  text-align: center;

  font-size: 5rem;

  margin-bottom: 70px;

  color: white;

  text-shadow:
    0 5px 25px rgba(0,0,0,.5);
}
.feature-card:hover {

  transform: translateY(-8px);

  border: 1px solid #22c55e;
}

.feature-card h3 {

  font-size: 1.5rem;

  margin-bottom: 12px;

  color: white;
}

.feature-card p {

  color: #bdbdbd;

  line-height: 1.6;

  font-size: .95rem;
}

/* LEVELS */

.levels {

  min-height: 100vh;

  padding: 120px 8%;

  text-align: center;
}

.levels h2 {

  font-size: 5rem;

  margin-bottom: 30px;
}

.levels-subtitle {

  max-width: 900px;

  margin: 0 auto 90px;

  font-size: 1.25rem;

  color: #cfcfcf;

  line-height: 1.8;
}

.level-container {
  display: flex;
  gap: 30px;
}
.level-card p {

  color: #bdb8b8ea;

  line-height: 1.9;

  font-size: 1.1rem;

  max-width: 320px;

  margin: 0 auto;
}.level-card h3{
font-size: 1.7rem;
  margin-bottom:28px;
}
.level-card{
  flex:1;

  background:
  rgba(8,15,30,.75);

  backdrop-filter:blur(15px);

  border-radius:25px;

  padding:50px 35px;

  border:1px solid rgba(255,255,255,.08);

  transition:.35s;
}
.level-card:nth-child(1){
  border-top:4px solid #22c55e;
}

.level-card:nth-child(2){
  border-top:4px solid #38bdf8;
}

.level-card:nth-child(3){
  border-top:4px solid #a855f7;
}
.level-card:nth-child(1):hover{
  transform:translateY(-10px);

  box-shadow:
  0 0 30px rgba(34,197,94,.4);
}
.level-card h3{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;

  font-size:1.8rem;
  margin-bottom:25px;
}

.level-icon{
  font-size:24px;
}

.beginner-icon{
  color:#22c55e;
  filter:drop-shadow(0 0 10px #22c55e);
}

.intermediate-icon{
  color:#38bdf8;
  filter:drop-shadow(0 0 10px #38bdf8);
}

.advanced-icon{
  color:#a855f7;
  filter:drop-shadow(0 0 10px #a855f7);
}
.level-card:nth-child(2):hover{
  transform:translateY(-10px);

  box-shadow:
  0 0 30px rgba(56,189,248,.4);
}

.level-card:nth-child(3):hover{
  transform:translateY(-10px);

  box-shadow:
  0 0 30px rgba(168,85,247,.4);
}
.level-card:hover {

  transform: translateY(-10px);

   border: 1px solid #22c55e;

  box-shadow: none;
}

/* CTA */

.cta{
    min-height:60vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:120px 8%;
}

.cta h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

footer {
  background: #111;
  padding: 50px;
  margin:0;
  text-align: center;
}
.stats-section {
  min-height: 80vh;
  padding: 120px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing-stats-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.stats-section h2 {
  font-size: 4.5rem;
  margin-bottom: 70px;
  font-weight: 700;
  letter-spacing: -2px;
  color: white;
  text-shadow:
    0 5px 25px rgba(0,0,0,.5);
}
.stat-card{
  width:300px;
  padding:45px 35px;
  background:
  rgba(8,15,30,.75);
  backdrop-filter:blur(15px);
  border-radius:25px;
  border:1px solid rgba(255,255,255,.08);
  transition:.35s ease;
  text-align:center;
}
.land-stat-icon{
  font-size:4.2rem;
  margin-bottom:25px;
}
.stat-card h2{
  font-size:4rem;
  margin:15px 0;
}
.stat-card p{
  color:#cfcfcf;
  font-size:1.7rem;
}
.journey {
  min-height: 100vh;
  padding: 120px 8%;
  text-align: center;
}
.stat-green .land-stat-icon,
.stat-green h2{
  color:#22c55e;
  text-shadow:none;
}
.stat-green:hover{
  transform:translateY(-10px);
  border-color:#22c55e;
  box-shadow:
  0 0 20px rgba(34,197,94,.5);
}
.stat-blue .land-stat-icon,
.stat-blue h2{
  color:#38bdf8;
  text-shadow:none;
}
.stat-blue:hover{
  transform:translateY(-10px);
  border-color:#38bdf8;
  box-shadow:
  0 0 20px rgba(56,189,248,.5);
}
.stat-purple .land-stat-icon,
.stat-purple h2{
  color:#a855f7;
  text-shadow:none;
}
.stat-purple:hover{
  transform:translateY(-10px);
  border-color:#a855f7;
  box-shadow:
  0 0 20px rgba(168,85,247,.5);
}
.stat-green .land-stat-icon{
  color:#22c55e;
  filter:drop-shadow(0 0 4px rgba(34,197,94,.45));
}
.stat-blue .land-stat-icon{
  color:#38bdf8;
  filter:drop-shadow(0 0 4px rgba(56,189,248,.45));
}
.stat-purple .land-stat-icon{
  color:#a855f7;
  filter:drop-shadow(0 0 4px rgba(168,85,247,.45));
}
.journey h2 {
  font-size: 5rem;
  margin-bottom: 90px;
}
.roadmap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.roadmap-step{
  background:
  rgba(8,15,30,.75);
  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:24px;
  width:320px;
  padding: 70px 30px 40px;
  min-height:380px;
  border:1px solid rgba(255,255,255,.08);
  backdrop-filter:blur(15px);
  transition:.35s;
}
.roadmap-step:nth-child(1):hover{
  border-color:#22c55e;
  box-shadow:0 0 25px rgba(34,197,94,.35);
}
.roadmap-step:nth-child(3):hover{
  border-color:#38bdf8;
  box-shadow:0 0 25px rgba(56,189,248,.35);
}
.roadmap-step:nth-child(5):hover{
  border-color:#a855f7;
  box-shadow:0 0 25px rgba(168,85,247,.35);
}
.roadmap-step:nth-child(7):hover{
  border-color:#f59e0b;
  box-shadow:0 0 25px rgba(245,158,11,.35);
}
.roadmap-step:nth-child(9):hover{
  border-color:#22c55e;
  box-shadow:0 0 25px rgba(34,197,94,.35);
}
.roadmap-step:hover {
  transform:
    translateY(-10px);
  border:
    1px solid #22c55e;
}
.step-number{
  width:90px;
  height:90px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
 backdrop-filter:blur(15px);
  font-size:2rem;
  font-weight:700;
  margin:auto;
  margin-bottom:25px;
  border:2px solid;
}
.roadmap-step:nth-child(1) .step-number{
  color:#22c55e;
  border-color:#22c55e;

  box-shadow:
  0 0 15px #22c55e;
}
.roadmap-step:nth-child(3) .step-number{
  color:#38bdf8;
  border-color:#38bdf8;
  box-shadow:
  0 0 15px #38bdf8;
}
.roadmap-step:nth-child(5) .step-number{
  color:#a855f7;
  border-color:#a855f7;
  box-shadow:
  0 0 15px #a855f7;
}
.roadmap-step:nth-child(7) .step-number{
  color:#f59e0b;
  border-color:#f59e0b;
  box-shadow:
  0 0 15px #f59e0b;
}
.roadmap-step:nth-child(9) .step-number{
  color:#22c55e;
  border-color:#22c55e;
  box-shadow:
  0 0 15px #22c55e;
}
.roadmap-step h3 {
  margin-bottom: 20px;
margin-top:15px;
  font-size: 1.5rem;
}
.roadmap-step p {
  color: #ccc;
 text-align:center;
  line-height: 1.7;
}
.roadmap-line {
  width: 70px;
  height: 4px;
  margin-top: 35px;
  background:
    linear-gradient(
      90deg,
      #22c55e,
      #3b82f6
    );
  border-radius: 20px;
}
.timeline{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}
.step{
  background:#111;
  padding:25px 40px;
  border-radius:50px;
  border:1px solid #222;
}
.parallax{
  height:45vh;
  background-image:url(
  "https://images.unsplash.com/photo-1516321318423-f06f85e504b3?auto=format&fit=crop&w=1920&q=80"
  );
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  position:relative;
}
.parallax-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.65);
  display:flex;
  justify-content:center;
  align-items:center;
}
.parallax-overlay h2{
  font-size:4rem;
  font-weight:300;
}
.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: #22c55e;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 9999;
  box-shadow:
  0 0 25px rgba(34,197,94,0.4);
  transition: all 0.3s ease;
}
.scroll-top-btn:hover {
  transform:
  translateY(-5px);
  box-shadow:
    0 0 35px rgba(34,197,94,0.7);
}
.stat-green .stat-icon,
.stat-green h2{
  color:#22c55e;
}
.stat-blue .stat-icon,
.stat-blue h2{
  color:#38bdf8;
}
.stat-purple .stat-icon,
.stat-purple h2{
  color:#a855f7;
}
.stat-card{
  background:rgba(5,10,20,.88);
  border:1px solid rgba(255,255,255,.08);
  backdrop-filter:blur(12px);

  transition:.3s ease;
}
.stat-green:hover{
  box-shadow:
  0 0 35px rgba(34,197,94,.35);
}
.stat-blue:hover{
  box-shadow:
  0 0 35px rgba(56,189,248,.35);
}
.stat-purple:hover{
  box-shadow:
  0 0 35px rgba(168,85,247,.35);
}
.feature-icon{
  font-size:52px;
  margin-bottom:25px;
  transition:.3s;
}
.feature-green .feature-icon{
  color:#22c55e;
  filter:drop-shadow(0 0 12px #22c55e);
}
.feature-blue .feature-icon{
  color:#38bdf8;
  filter:drop-shadow(0 0 12px #38bdf8);
}
.feature-purple .feature-icon{
  color:#a855f7;
  filter:drop-shadow(0 0 12px #a855f7);
}
.feature-gold .feature-icon{
  color:#facc15;
  filter:drop-shadow(0 0 12px #facc15);
}
.feature-green .feature-icon{
  color:#22c55e;
}
.feature-blue .feature-icon{
  color:#38bdf8;
}
.feature-purple .feature-icon{
  color:#a855f7;
}
.feature-gold .feature-icon{
  color:#facc15;
}
.feature-card{
  background:
  rgba(5,10,20,.88);
  border:
  1px solid rgba(255,255,255,.08);
  backdrop-filter:
  blur(12px);
  transition:
  .3s ease;
}
.feature-green:hover{
  border:1px solid #22c55e;
  box-shadow:
  0 0 30px rgba(34,197,94,.4);
}
.feature-blue:hover{
  border:1px solid #38bdf8;
  box-shadow:
  0 0 30px rgba(56,189,248,.4);
}
.feature-purple:hover{
  border:1px solid #a855f7;
  box-shadow:
  0 0 30px rgba(168,85,247,.4);
}
.feature-gold:hover{
  border:1px solid #facc15;
  box-shadow:
  0 0 30px rgba(250,204,21,.4);
}
html,
body,
#root,
.landing,
.landing-scroll{
   width:100%;
  max-width:100%;
  overflow-x:hidden;
}
.scroll-top-btn {
  position: fixed !important;
  bottom: 30px !important;
  right: 30px !important;
  width: 70px !important;
  height: 70px !important;
  border-radius: 50% !important;
  background: #22c55e !important;
  color: white !important;
  font-size: 32px !important;
  z-index: 999999999 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.landing.modal-open .landing-scroll{
    filter:brightness(.45);
    transition:.35s ease;
}

.landing.modal-open .navbar{
    filter:brightness(.45);
    transition:.35s ease;
}
