html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow:hidden;
}
.landing-scroll{

  height:100vh;

  overflow-y:auto;

  overflow-x:hidden;

  scroll-behavior:smooth;
}
.landing {
  background:
    linear-gradient(
      rgba(0,0,0,.75),
      rgba(0,0,0,.85)
    ),
    url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3");

  background-size: cover;
  overflow-y: auto;
  background-position: center;

  background-attachment: fixed;

  color: white;
   min-height: 100vh;
}

/* HERO */

.hero {

  position: relative;

  min-height: 100vh;

  overflow: hidden;
}
.hero::after {

  content: "";

  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  height: 200px;

  z-index: 2;

  pointer-events: none;

  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0),
      rgba(0,0,0,.35),
      rgba(0,0,0,.65),
      rgba(0,0,0,.95)
    );
}

.hero-video {

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: 0;
}

.overlay {

  position: absolute;

  inset: 0;

  z-index: 1;

  background:
    linear-gradient(
      rgba(0,0,0,.45),
      rgba(0,0,0,.72)
    );
}
body::-webkit-scrollbar{
  width:12px;
}

body::-webkit-scrollbar-track{
  background:#111;
}

body::-webkit-scrollbar-thumb{
  background:#22c55e;
  border-radius:20px;
}
.navbar.scrolled {
  position: fixed;

  background: rgba(0,0,0,.85);

  backdrop-filter: blur(20px);

  box-shadow:
    0 10px 35px rgba(0,0,0,.45);
}

.navbar {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  z-index: 999999;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 60px;

  background: rgba(0,0,0,.55);

  backdrop-filter: blur(16px);

  border-bottom:
    1px solid rgba(255,255,255,.08);
}
.about,
.features,
.levels,
.stats-section,
.community-preview,
.cta,
.journey,
.testimonials {
  scroll-margin-top: 120px;
}

.logo-icon {

  width: 70px;

  height: 70px;

  display: flex;

  justify-content: center;

  align-items: center;

  color:#38bdf8;

  font-size:30px;
  font-weight:700;
}
.logo-text {

  font-size:30px;
  font-weight:700;
  margin-left: -12px;
  color:#38bdf8;

  letter-spacing: -1px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-size:30px;
  font-weight:700;
  color:#38bdf8;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-btn,
.signup-btn,
.hero-buttons button,
.cta button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.signup-btn,
.hero-buttons button,
.cta button {
  background: #22c55e;
  color: white;
}

.secondary-btn {
  background: transparent !important;
  border: 2px solid white !important;
}

.hero-content {
  position: relative;
  z-index: 6;
  padding-top: 80px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 8%;
}
.about,
.features,
.levels,
.journey,
.community-preview,
.testimonials,
.cta {

  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 22px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

/* ABOUT */

.about {


   min-height: 100vh;

  padding: 120px 10%;

  text-align: center;

  position: relative;

  z-index: 2;

  background:
    linear-gradient(
      rgba(0,0,0,.55),
      rgba(0,0,0,.75)
    ),
    url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3");

  background-size: cover;

  background-position: center;

  background-attachment: fixed;
}

.about h2 {
  font-size: 5rem;
  margin-bottom: 40px;
  text-shadow:
    0 5px 25px rgba(0,0,0,.5);
}

.about p {
  max-width: 1100px;
  line-height: 1.8;
  font-size: 1.4rem;
  color: rgba(255,255,255,.9);
}

/* FEATURES */

.features {

  min-height: 100vh;

  padding: 120px 8%;

  text-align: center;
}
.feature-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.feature-card {

  background: rgba(10,10,10,.8);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 22px;

  padding: 30px;

  min-height: 170px;

  transition: .3s;

  text-align: left;
}
.features h2 {

  text-align: center;

  font-size: 5rem;

  margin-bottom: 70px;

  color: white;

  text-shadow:
    0 5px 25px rgba(0,0,0,.5);
}
.feature-card:hover {

  transform: translateY(-8px);

  border: 1px solid #22c55e;
}

.feature-card h3 {

  font-size: 1.5rem;

  margin-bottom: 12px;

  color: white;
}

.feature-card p {

  color: #bdbdbd;

  line-height: 1.6;

  font-size: .95rem;
}

/* LEVELS */

.levels {

  min-height: 100vh;

  padding: 120px 8%;

  text-align: center;
}

.levels h2 {

  font-size: 5rem;

  margin-bottom: 30px;
}

.levels-subtitle {

  max-width: 900px;

  margin: 0 auto 90px;

  font-size: 1.25rem;

  color: #cfcfcf;

  line-height: 1.8;
}

.level-container {
  display: flex;
  gap: 30px;
}
.level-card p {

  color: #bdb8b8ea;

  line-height: 1.9;

  font-size: 1.1rem;

  max-width: 320px;

  margin: 0 auto;
}.level-card h3{
font-size: 1.7rem;
  margin-bottom:28px;
}
.level-card {

  flex: 1;

  min-width: 320px;

  background: rgba(10,10,10,.8);

  backdrop-filter: blur(12px);

  border-radius: 24px;

  padding: 50px 40px;

  border: 1px solid rgba(255,255,255,.08);

  text-align: center;

  transition: all .3s ease;
}

.level-card:hover {

  transform: translateY(-10px);

   border: 1px solid #22c55e;

  box-shadow: none;
}

/* CTA */

.cta {
  padding: 120px 10%;
  text-align: center;
}

.cta h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

footer {
  background: #111;
  padding: 50px;
  text-align: center;
}
.stats-section {

  min-height: 80vh;

  padding: 120px 8%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.landing-stats-grid {

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 40px;

  flex-wrap: wrap;
}
.stats-section h2 {

  font-size: 4.5rem;

  margin-bottom: 70px;

  font-weight: 700;

  letter-spacing: -2px;

  color: white;

  text-shadow:
    0 5px 25px rgba(0,0,0,.5);
}
.stat-card{
  width:280px;

  padding:40px;

  border-radius:20px;

  background:#111;

  text-align:center;

  transition:.3s;
}
.stat-card:hover{
  transform:translateY(-10px);
  border:1px solid #22c55e;
}
.stat-card h2{
  font-size:3rem;
  color:#22c55e;
  margin-bottom:15px;
}

.stat-card p{
  color:#ccc;
}
.journey {

  min-height: 100vh;

  padding: 120px 8%;

  text-align: center;
}

.journey h2 {

  font-size: 5rem;

  margin-bottom: 90px;
}

.roadmap {

  display: flex;

  justify-content: center;

  align-items: flex-start;

  gap: 25px;

  flex-wrap: wrap;
}

.roadmap-step {

  width: 250px;

  padding: 35px;

  border-radius: 24px;

  background:
    rgba(10,10,10,.8);

  backdrop-filter: blur(12px);

  border:
    1px solid rgba(255,255,255,.08);

  transition: .3s;
}

.roadmap-step:hover {

  transform:
    translateY(-10px);

  border:
    1px solid #22c55e;
}

.step-number {

  width: 70px;

  height: 70px;

  margin: 0 auto 25px;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 1.5rem;

  font-weight: 700;

  color: white;

  background:
    linear-gradient(
      135deg,
      #22c55e,
      #3b82f6
    );
}

.roadmap-step h3 {

  margin-bottom: 15px;

  font-size: 1.5rem;
}

.roadmap-step p {

  color: #ccc;

  line-height: 1.7;
}

.roadmap-line {

  width: 70px;

  height: 4px;

  margin-top: 35px;

  background:
    linear-gradient(
      90deg,
      #22c55e,
      #3b82f6
    );

  border-radius: 20px;
}

.timeline{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.step{
  background:#111;

  padding:25px 40px;

  border-radius:50px;

  border:1px solid #222;
}
.parallax{
  height:70vh;

  background-image:url(
  "https://images.unsplash.com/photo-1516321318423-f06f85e504b3"
  );

  background-size:cover;
  background-position:center;
  background-attachment:fixed;

  position:relative;
}

.parallax-overlay{
  position:absolute;
  inset:0;

  background:rgba(0,0,0,.65);

  display:flex;
  justify-content:center;
  align-items:center;
}

.parallax-overlay h2{
  font-size:4rem;
  font-weight:300;
}
.scroll-top-btn {

  position: fixed;

  bottom: 30px;

  right: 30px;

  width: 60px;

  height: 60px;

  border: none;

  border-radius: 50%;

  background: #22c55e;

  color: white;

  font-size: 2rem;

  cursor: pointer;

  z-index: 9999;

  box-shadow:
    0 0 25px rgba(34,197,94,0.4);

  transition: all 0.3s ease;
}

.scroll-top-btn:hover {

  transform:
    translateY(-5px);

  box-shadow:
    0 0 35px rgba(34,197,94,0.7);
}
